<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableGlobbing</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>me.slozo.network-listener</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Network Listener.app/Contents/MacOS/Network Listener</string>
	</array>
</dict>
</plist>
